.idea/workspace.xml
out/production/floristeria-pair-programming2/floristeria/view/Main.class
out/production/floristeria-pair-programming2/floristeria/application/FloreriaController.class
out/production/floristeria-pair-programming2/floristeria/domain/Arbre.class
out/production/floristeria-pair-programming2/floristeria/domain/Decoracio$TypeMaterial.class
out/production/floristeria-pair-programming2/floristeria/domain/Decoracio.class
out/production/floristeria-pair-programming2/floristeria/domain/Floristeria.class
out/production/floristeria-pair-programming2/floristeria/domain/Flors.class
out/production/floristeria-pair-programming2/floristeria/domain/Producte.class
out/production/floristeria-pair-programming2/floristeria/persistence/FloreriaRepository.class
.idea/vcs.xml
